@model List<TennisRanking.ViewModels.DesafioVM>

<h3>AGENDA DE DESAFIOS</h3>
<div class="row col-12">
    @foreach (var dia in Model.OrderBy(j => j.Jogo.Agenda.Data).ThenBy(j => j.Jogo.Agenda.HoraInicial).ThenBy(j => j.Jogo.Agenda.QuadraId).Select(j => j.Jogo.Agenda.Data).Distinct())
    {
        <div class="card col-6" style="padding:unset">
            <div class="card-header text-white text-center" style="background:#C6682E">
                <p>@dia.ToString("ddd dd/MMM/yy")</p>
            </div>
            @foreach (var desafioVMdoDia in Model.Where(j => j.Jogo.Agenda.Data == dia.Date).OrderBy(j => j.Jogo.Agenda.Data).ThenBy(j => j.Jogo.Agenda.HoraInicial).ThenBy(j => j.Jogo.Agenda.QuadraId))
            {
                <div class="card-body text-center" style="background: #ffffff">
                    <small>@desafioVMdoDia.Jogo.Agenda.HoraInicial.ToShortTimeString() - Quadra #@desafioVMdoDia.Jogo.Agenda.QuadraId<br /> [@desafioVMdoDia.PosicaoTenistaA] @desafioVMdoDia.TenistaA.DisplayNome<br /> vs<br />[@desafioVMdoDia.PosicaoTenistaB] @desafioVMdoDia.TenistaB.DisplayNome</small><br />
                    <small>@(desafioVMdoDia.Jogo.Agenda.EhPreReserva == true ? "Pré-reserva" : "Confirmada")</small>
                </div>
            }
        </div>
    }
</div>